.DS_Store
*.pyc
.meteor/
env/
env-docker/
env-osx/
SimpleCV/
*.log
*.out
.ipynb_checkpoints/
*.apk
*.conf
classification_data/
apks.txt
temp.*
temp/
*.pickle
mongodata/

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
